<div class="crud-container">
    <div class="account-section">
      <h2>Accounts</h2>

      <div class="filter-container">
        <mat-form-field>
          <input matInput (keyup)="applyAccountFilter($event)" placeholder="Filter by Email" #emailFilter>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="startPicker" placeholder="Date of Birth From" (dateChange)="applyDateFilter()" #startDateFilter>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endPicker" placeholder="Date of Birth To" (dateChange)="applyDateFilter()" #endDateFilter>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="filteredAccounts" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
            <td mat-cell *matCellDef="let element"> {{ element.dateOfBirth.toDate() | date }}  </td>
          </ng-container>    
  
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.active ? 'Yes' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openAccountDialog(element)">Edit</button>
            <button mat-button (click)="deleteAccount(element.id)">Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectAccount(row)"></tr>
      </table>
      <button mat-raised-button color="primary" (click)="openAccountDialog()">Add Account</button>
    </div>
  
    <div class="application-section" *ngIf="selectedAccount">
      <h2>Applications</h2>

      <div class="filter-container">
        <mat-form-field>
          <input matInput (keyup)="applyApplicationFilter($event)" placeholder="Filter by Name" #nameFilter>
        </mat-form-field>
        <mat-form-field>
          <input matInput (keyup)="applyApplicationFilter($event)" placeholder="Filter by Version" #versionFilter>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="filteredApplications" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>
  
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="selectApplication(element); openApplicationDialog(element)">Edit</button>
            <button mat-button (click)="deleteApplication(element.id)">Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="appDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: appDisplayedColumns;"></tr>
      </table>
      <button mat-raised-button color="primary" (click)="openApplicationDialog()">Add Application</button>
    </div>
  </div>